.tipografia-display-medio {
    font: 700 1.5rem/1.25 "Roboto", sans-serif;
}

.tipografia-texto-bold {
    font: 700 0.9rem/1.17 "Roboto", sans-serif;
}

.tipografia-texto-medio {
    font: 500 0.9rem/1.17 "Roboto", sans-serif;
}

.tipografia-texto-normal {
    font: 400 0.9rem/1.17 "Roboto", sans-serif;
}

.tipografia-texto-pequeno {
    font: 500 0.75rem/1.5 "Roboto", sans-serif;
}